<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloud001-gateway:war exploded">
    <output-path>$PROJECT_DIR$/springcloud001-gateway/target/springcloud001-gateway</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloud001-gateway" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springcloud001-gateway/target/springcloud001-gateway/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springcloud001-gateway/web/Web" />
    </root>
  </artifact>
</component>