<component name="ArtifactManager">
  <artifact type="war" name="springcloud001-gateway:war">
    <output-path>$PROJECT_DIR$/springcloud001-gateway/target</output-path>
    <root id="archive" name="springcloud001-gateway.war">
      <element id="artifact" artifact-name="springcloud001-gateway:war exploded" />
    </root>
  </artifact>
</component>